<div class="ui grid">
	<div class="five wide column">
		<div class="ui medium circular image">
			<%= image_tag @user.avatar.url if @user.avatar? %>
		</div>
		<% if user_signed_in? %>
			<% if current_user.id === @user.id %>
				<%= link_to "редактировать", edit_user_registration_path, class: 'fluid ui button blue' %>
			<% end %>
		<% end %>
	</div>
	<div class="eleven wide column">
		<div class="ui list">
			<div class="item">
				Ник: <%= @user.username %>
			</div>
			<div class="item">
				Номер телефона: <%= @user.phone %>
			</div>
			<div class="item">
				Имейл: <%= @user.email %>
			</div>
			<div class="item">
				Образование: <%= @user.education %>
			</div>
			<div class="item">
				мои навыки:
        <%= raw @user.tags.map(&:name).map{ |t| link_to t, "#", class: 'ui
        label' }.join(' ') %>
			</div>
			<div class="item">
				Мой возраст: <%= @user.age %>
			</div>
			<div class="item">
				Локация:
			</div>
			<div class="item">
				О себе: <%= @user.body %>
			</div>
      <% if @user.image1? || @user.image2? || @user.image3? || @user.image4? || @user.image5? || @user.image6? || @user.image7? || @user.image8? || @user.image9? || @user.image10?
      %>
        <div class="item">
          Фото:
          <div class="ui small images">
          <%= image_tag @user.image1.url if @user.image1? %>
          <%= image_tag @user.image2.url if @user.image2? %>
          <%= image_tag @user.image3.url if @user.image3? %>
          <%= image_tag @user.image4.url if @user.image4? %>
          <%= image_tag @user.image5.url if @user.image5? %>
          <%= image_tag @user.image6.url if @user.image6? %>
          <%= image_tag @user.image7.url if @user.image7? %>
          <%= image_tag @user.image8.url if @user.image8? %>
          <%= image_tag @user.image9.url if @user.image9? %>
          <%= image_tag @user.image10.url if @user.image10? %>
          </div>
        </div>

    <% end %>
			<div class="item">
        <%= react_component("Video", video_url: @user.video_url) %>
			</div>
		</div>
	</div>
</div>
