<!DOCTYPE html>
<html>
  <head>
    <title>RailsreactApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application' %>
  </head>

  <body>
		<div class="ui menu">
			<a href="/" class="ui button red">Главная</a>
			<%= link_to "Обьявления", courses_path, class: 'ui button orange'  %>
			<div class="ui menu right">
				<% if user_signed_in? %>
					<span>
						<%= current_user.email %>
					</span>
					<%= link_to "Выход",   destroy_user_session_path, method: :delete, class: 'ui button blue' %>
				<% else %>
					<%= link_to "вход",  new_user_session_path, class: 'ui button blue' %>
					<%= link_to "регистрация", new_user_registration_path, class: 'ui button blue' %>
				<% end %>

				<%= link_to "новая обьявление", new_course_path, class: 'ui button orange' %>
				<%= link_to "категории", categories_path, class: 'ui button green' %>
				<%= link_to "под категории", subcategories_path, class: 'ui button green' %>
				<%= link_to "под под категории", subsubcategories_path, class: 'ui button green' %>
			</div>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="ui container">
			<%= yield %>
		</div>
  </body>
</html>
