<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui form', multipart: true }) do |f| %>
	<%= render "devise/shared/error_messages", resource: resource %>
	<div class="ui grid">
		<div class="five wide column">
			<div class="ui medium image">
				<%= f.file_field :avatar %>
			</div>
			<div class="field">
				<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
				<%= f.password_field :current_password, autocomplete: "current-password" %>
			</div>
			<div class="ui buttons">
				<%= f.submit "сохранить", class: 'fluid ui button blue' %>
				<%= link_to "Back", :back, class: 'ui button' %>
			</div>
		</div>
		<div class="eleven wide column">
			<div class="ui list">
				<div class="item">
					Ник: <%= f.text_field :username %>
				</div>
				<div class="item">
					Номер телефона: <%= f.text_field :phone %>
				</div>
				<div class="item">
					Имейл: <%= f.email_field :email, autofocus: true, autocomplete:
            "email" %>
				</div>
				<div class="item">
					Образование: <%= f.text_field :education %>
				</div>
				<div class="item">
					мои навыки:
					<a href="#" class="ui label">Tag</a>
					<a href="#" class="ui label">Tag</a>
					<a href="#" class="ui label">Tag</a>
					<a href="#" class="ui label">Tag</a>
				</div>
				<div class="item">
					Мой возраст: <%= f.text_field :age %>
				</div>
				<div class="item">
					Пол: <%= f.collection_select :gender_id, Gender.order(:name), :id,
                                       :name, {include_blank: true}
        %>
				</div>
				<div class="item">
					Локация:
				</div>
				<div class="item">
					<h3>О себе:</h3>
					<%= f.text_area :body %>
				</div>
				<div class="item">
          <h3>видео</h3>
          <%= f.text_field :video_url %>
				</div>
				<div class="item">
					<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
						<div>Currently waiting confirmation for: <%= resource
                                                         .unconfirmed_email %></div>
					<% end %>

					<div class="two fields">
						<div class="field">
							<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
							<%= f.password_field :password, autocomplete: "new-password" %>
							<% if @minimum_password_length %>
								<br />
								<em><%= @minimum_password_length %> characters minimum</em>
							<% end %>
						</div>

						<div class="field">
							<%= f.label :password_confirmation %><br />
							<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: 'fluid ui button red', data: { confirm: "Are you sure?" }, method: :delete %></p>
